<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="YouSoftBathGeneralClass.Properties.Settings.BathDBConnectionString"
            connectionString="Data Source=CAI-PC\SQLEXPRESS;Initial Catalog=BathDB;Persist Security Info=True;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="YouSoftBathGeneralClass.Properties.Settings.BathDBConnectionString1"
            connectionString="Data Source=CAI-PC2\SQLEXPRESS;Initial Catalog=BathDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="YouSoftBathGeneralClass.Properties.Settings.BathDBConnectionString2"
            connectionString="Data Source=京天华盛-PC\SQLEXPRESS;Initial Catalog=BathDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>